<h2>単語の追加</h2>
<form method="POST" action="create">
  <ul>
    <li>単語：<input type="text" name="name"></li>
    <li>解説：<textarea name="description" cols="80" rows="10"></textarea></li>
    <br/><input type="submit" value="登録">
  </ul>
</form>
<%= a('キャンセル', :index) %>
